.bottombar {
	display: flex;
	background: #979797;
	height: 90px;
	top:0;
	padding-top:15px;
	border-bottom: 5px solid #ccc;
}

.totalPts {
	width:90px;
	height:60px;
	background-image: url(i/sprite1.png);
	background-position-x: -660px;
	background-position-y: -47px;
	background-repeat: no-repeat;
	margin: 0 auto 20px;
}

.innerPts {
	font-size: 24px;
	font-weight:bold;
	color: #d7d7d7;
	width:inherit;
	margin: 12px auto;
	text-align: center;
}

@media only screen and (min-width: 100px) and (max-width: 900px) {
.bottombar {
	height: 45px;
	padding-top:5px;
}
}
