.ramps {
	display:block;
	border-top: 4px dotted #ddd;
	height: 100px;
	position:relative;
	background: #a27c7c;
}

.ramps:first-child {
	border-top: 0px;
}
.ramps:last-child {
	border-bottom: 0px;
}

/* .blockade { background: rgba(0,0,0,0.3); } */
