.truck_xl .cover {
	left:0px !important;
}

.cover {
	/* transition: all 3s ease-in-out; */
	height: 100%;
	width: 100%;
	background: white;
	opacity: 0.5;
	display: flex;
	z-index: 10001;
	position: absolute;
}
