.cover {
	/* transition: all 3s ease-in-out; */
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 100%;
	background: white;
	opacity: 0.5;
	display: flex;
	z-index: 10001;
	position: absolute;
	user-select: none;
}

@media only screen and (min-width: 100px) and (max-width: 900px) {
	.cover {
		/* right: 14px; */
		right: 0px;
		left: unset;
		height: 100%;
		width: 100%;
	}
}
