.msg {
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: rgba(0,0,0, 0.6);
	z-index:10004;
	font-size: 1.6em;
	display: flex;
	flex-direction: column;
	padding: 4% 10%;
	opacity: 0;
	transition: margin-left 1s ease-in-out, opacity 0.6s ease-in-out;
}

.msgCnt {
	display:flex;
	flex-direction: column;
}

.msgContent {
	color: #ccc;
	text-align:center;
	margin: 0.7em 0;
}

.msgContentRef {
	color: #ccc;
	font-size:1.3em;
	text-align:center;
	margin: 0.7em 0;
	text-decoration: underline;
	cursor: pointer;
}

.msgContentRef:hover {
	color: #999;
}

.howtoContainer {
	width:100%;
	display: flex;
	flex-direction: row;
}

.howtoBox {
	flex: 1;
	margin: 10px 0px;
	text-align:center;
	color: #ccc;
	padding:0 10px;
	font-size: 0.9em;
}

.howtoBtn {
	border-radius: 5px;
	background: #808080;
	font-size: 1.1em;
	color: #555;
	font-weight: bold;
	text-align: center;
	/* margin-top:26px; */
	margin-right:20px;
	margin-bottom: 10px;
	margin-left: 10px;
	display: table;
	height: 41px;
	width: 64px;
	padding: 2px 10px;
	user-select: none;
}

.howtoBtn:hover {
	cursor:pointer;
	background:#aaa;
}

.howToDrag , .howToCover , .howToRamp , .howToGroup , .howToColor , .howToBonus {
	width:250px;
	height:75px;
	background-image: url(i/howto.png);
	background-position-x: 14px;
	background-repeat: no-repeat;
	margin: 0 auto 20px;
	position:relative;
}

.howToDrag { background-position-y: -50px; }
.howToCover { background-position-y: -178px; }
.howToRamp { background-position-y: -304px; }
.howToGroup { background-position-y: -432px; }
.howToColor { background-position-y: -558px; }
.howToBonus { background-position-y: -692px; }

.demoR {
	position:absolute;
	left:40px;
}


.msgBtn {
	filter: brightness(1) saturate(1);
	color: #fff;
	cursor: pointer;
	display: table;
	margin: 20px auto -15px;
	padding: 10px 42px;
	background: #377d37;
	text-align:center;
}

.msgBtn:hover {
	filter: brightness(1.6) saturate(1.8);
}

.iconCntHdr {
	flex-direction: row;
	display: flex;
	margin: 0 auto;
	border-radius: 10px 10px 0 0 ;
}

.levNrHdr {
	position:absolute;
	top:31px;
	width:100%;
	text-align:center;
	font-weight:bold;
	color:#666;
	font-size:34px;
}

.iconCnt {
	flex-direction: row;
	display: flex;
	margin: 25px auto 10px;
	background: #515151;
	/* border-top: 5px solid grey; */
	/* border-bottom: 5px solid grey; */
}

.msgWindow {
	overflow:scroll;
	background:#515151;
	display: flex;
	flex-direction: inherit;
	padding:50px;
	margin: 0 auto;
	max-width: 900px;
}

.stihl {
	position:relative;
	width:180px;
	height:180px;
	background-image: url(i/sprite2.png);
	background-position-y: 6px;
	background-position-x: 4px;
	margin:20px;
}

.startIco {
	width:160px;
	height:180px;
	background-image: url(i/start.png);
	background-position-y: 6px;
	background-position-x: -27px;
	margin-bottom:10px;
}

.messy {
	width:180px;
	height:180px;
	background-image: url(i/mess.png);
	background-position-y: 6px;
	background-position-x: 4px;
}

.stihlCup {
	position:absolute;
	width:180px;
	height:180px;
	background-image: url(i/sprite1.png);
	background-position-y: 6px;
	background-position-x: 4px;
	top:0px;
	transition: top 1.6s ease-in-out;
}

.result {
	color: white;
}

.stwatch {
	width:180px;
	height:180px;
	background-image: url(i/sprite2.png);
	margin:20px;
	background-position-y: 5px;
	background-position-x: -192px;
	opacity:0;
	transition: opacity 1.6s ease-in-out;
}

.timeResult {
	/* font-size:1.3em; */
	font-size:34px;
	color:#313131;
	font-weight:bold;
	position:relative;
	top:82px;
	left:44px;
}

.bonus {
	width:180px;
	height:180px;
	background-image: url(i/sprite2.png);
	background-position-y: 4px;
	background-position-x: -371px;
	margin:20px;
	opacity:0;
	transition: opacity 1.6s ease-in-out;
}

.calHdr {
	position:relative;
	width:80px;
	height:90px;
	background-image: url(i/calHdr.png);
	background-position-y: -35px;
	background-position-x: -46px;
	margin-top:13px;
}

.bonusResult {
	font-size:34px;
	color:#b9b9b9;
	font-weight:bold;
	text-align: center;
	position:relative;
	width: 180px;
	top:60px;
	display: block;
}

.truckArt {
	width:490px;
	height:180px;
	background-image: url(i/truckArt.png);
	margin:0 auto 30px;
	background-position-y: 6px;
	background-position-x: -10px;
	background-repeat: no-repeat;
	margin-top: 15px;
}

.topRes {
	display: flex;
}

.resBis {
	color: #333;
	border-radius:5px;
	background: #d3dce2;
  font-size: 28px;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	display: table;
	height: 20px;
	padding: 2px 10px;
	transition: margin-left 1s ease-in-out, opacity 0.5s ease-in-out;
	border-bottom: 4px solid #a8b7c2;
}

.resEmptyBis, .resEmptyPrim, .resEmptySpeed {
	border-radius: 5px;
	background: gray;
	font-size: 28px;
	color: #555;
	font-weight: bold;
	text-align: center;
	margin-top:6px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	display: table;
	height: 40px;
	width: 81px;
	padding: 2px 10px;
	/* border-bottom: 4px solid #a4a4a4; */
}

.resEmptyPrim {
	margin-right:20px;
}

.resEmptySpeed {
	font-size:28px;
	height:34px;
	margin-top:50px;
}

.palHdr {
	background-image: url(i/sprite1.png);
	position:relative;
	width:90px;
	height:90px;
	background-position-y: -38px;
	background-position-x: -536px;
	margin-left:16px;
	margin-right:16px;
	margin-top:11px;
}

.palCnt {
	color: #d5c69c;
	font-size:36px;
	font-weight: bold;
	position: absolute;
	top: 12px;
	width: inherit;
	text-align: center;
}

.slime,.turtle,.hare,.gepart {
	background-image: url(i/speedA.png);
	width:120px;
	height:80px;
	margin-left:10px;
}

.slime {
	background-position-y: -17px;
	background-position-x: -1px;
}
.turtle {
	background-position-y: -103px;
	background-position-x: -1px;
}
.hare {
	background-position-y: -184px;
	background-position-x: -1px;
}
.gepart {
	background-position-y: -252px;
	background-position-x: -1px;
}


@media only screen and (min-width: 100px) and (max-width: 900px) {

.stihl {
	position:relative;
	width:100px;
	height:100px;
	background-image: url(i/sprite2mob.png);
	background-position-y: 2px;
	background-position-x: -6px;
	margin:10px 10px 20px 10px;
}

.stwatch {
	width:100px;
	height:100px;
	background-image: url(i/sprite2mob.png);
	margin:10px;
	background-position-y: 6px;
	background-position-x: 200px;
	opacity:0;
	transition: opacity 1.6s ease-in-out;
}

.timeResult {
	font-size:0.8em;
	font-weight:normal;
	top:42px;
	left:25px;
}

.iconCnt {
	flex-direction: row;
	display: flex;
	margin: 15px auto 5px;
	background: #515151;
	/* border-top: 3px solid grey; */
	/* border-bottom: 3px solid grey; */
	padding: 0 15px;
}

.stihlCup {
	position:absolute;
	width:100px;
	height:100px;
	background-image: url(i/sprite1mob.png);
	background-position-y: 6px;
	background-position-x: -2px;
	top:0px;
	transition: top 1.6s ease-in-out;
}

.bonus {
	width:100px;
	height:100px;
	background-image: url(i/sprite2mob.png);
	background-position-y: 4px;
	background-position-x: -212px;
	margin:10px;
	opacity:0;
	transition: opacity 1.6s ease-in-out;
}

.bonusResult {
	font-size:0.7em;
	color:#b9b9b9;
	position:relative;
	font-weight:normal;
	width:100px;
	top:37px;
}

.msgWindow {
	padding:10px;
}

.calHdr {
	position:relative;
	width:40px;
	height:50px;
	font-weight:normal;
	background-image: url(i/sprite1mob.png);
	background-position-y: -22px;
	background-position-x: 201px;
}

/* .gratzTruck { */
/* 	background-image: url(i/sprite1mob.png); */
/* 	width:98px; */
/* 	height:50px; */
/* 	background-position-y: -22px; */
/* 	background-position-x: 132px; */
/* } */

.levNrHdr {
	top:13px;
	width:100%;
	font-weight:normal;
	color:#666;
	font-size:0.9em;
}

.msgBtn {
	margin: 20px auto 15px;
	font-size:0.9em;
}

.iconCntHdr {
	margin: 10px auto 0;
}

.msg {
	padding: 4% 20%;
}

.msgContent {
	font-size: 0.9em;
}

.msgContentRef {
	font-size:1em;
}

.truckArt {
	margin: 0;
}

.howtoBtn {
	margin-top: 12px;
	font-size: 0.7em;
	height:25px;
	width:45px;
}

.resEmptyPrim {
	margin-top: 12px;
	font-size: 0.7em;
	height:25px;
	width:55px;
}

.resEmptySpeed {
	margin-top: 34px;
	font-size: 0.7em;
	height:25px;
	width:55px;
}

.resBis {
	font-size: 0.8em;
	margin-bottom: 5px;
}

.resEmptyBis {
	font-size: 0.8em;
	height: 31px;
	margin-bottom: 5px;
}

.palHdr {
	background-image: url(i/sprite1mob.png);
	position:relative;
	width:42px;
	height:50px;
	background-position-y: -20px;
	background-position-x: -308px;
	margin-left:20px;
}

.palCnt {
	font-size:0.9em;
	font-weight: normal;
	top: 6px;
}

.howToDrag , .howToCover , .howToRamp , .howToGroup , .howToColor , .howToBonus {
	width:120px;
	height:50px;
	background-image: url(i/howtomob.png);
	background-position-x: 1px;
	margin: 0 auto 10px;
	position:relative;
}

.howToDrag { background-position-y: -21px; }
.howToCover { background-position-y: -94px; }
.howToRamp { background-position-x: -12px; background-position-y: -166px; }
.howToGroup { background-position-x: -12px; background-position-y: -240px; }
.howToColor { background-position-x: -12px; background-position-y: -312px; }
.howToBonus { background-position-y: -386px; }

.howtoBox {
	font-size:0.7em;
	padding: 0 5px;
}

.slime,.turtle,.hare,.gepart {
	width:90px;
	height:60px;
	margin-left:10px;
}

.slime {
	background-position-y: -73px;
	background-position-x: 91px;
}
.turtle {
	background-position-y: -125px;
	background-position-x: 91px;
}
.hare {
	background-position-y: -175px;
	background-position-x: 91px;
}
.gepart {
	background-position-y: -216px;
	background-position-x: 91px;
}

}
