.msg {
	position: absolute;
	color: #2a2a2a;
	font-size: 1.6em;
	background: aliceblue;
	display: flex;
	flex-direction: row;
	padding: 2px 0 2px 12px;
	margin-top: 7px;
	opacity: 0;
	margin-left: 130px;
	transition: margin-left 1s ease-in-out, opacity 0.6s ease-in-out;
}

.msgBtn {
	filter: brightness(1) saturate(1);
	color: #fff;
	cursor: pointer;
	margin: -2px 0 -2px 10px;
	display: table;
	height: 40px;
	padding: 2px 12px 0;
	background: green;
}

.msgBtn:hover {
	filter: brightness(1.6) saturate(1.8);
}
