.pallet {
	color: white !important;
	width: 20px;
	height: 20px;
	border: 2px white;
	margin: 3px;
	background: #555;
	font-size: 13px;
	padding: 2px;
	display: block;
	user-select: none;
	border-bottom: 6px dotted brown;
}

.white { background: white; }
.black { background: black; }
.brown { background: brown }
.orange { background: orange }
.red { background: red }

