.pallet {
	filter: brightness(0.8) saturate(0.8);
	color: white !important;
	width: 20px;
	height: 20px;
	border: 2px white;
	margin: 3px;
	font-size: 13px;
	padding: 2px;
	display: block;
	user-select: none;
	border-bottom: 5px dashed brown;
	cursor:pointer;
}

.pallet:hover {
	filter: brightness(1.6) saturate(1.6);
	/* filter: brightness(1.7); */
}

