.resbar {
	display: flex;
	background: #979797;
	height: 55px;
	float: right;
}

.empty {
	background: gray;
  font-size: 1.5em;
	color: #777;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	display: table;
	height: 32px;
	width: 45px;
	padding: 2px 10px;
	transition: margin-left 1s ease-in-out, opacity 0.5s ease-in-out;
}

.empty:last-child, .res:last-child {
	margin-right: 10px !important;
}

.res {
	background: aliceblue;
  font-size: 1.5em;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	display: table;
	height: 20px;
	padding: 2px 10px;
	transition: margin-left 1s ease-in-out, opacity 0.5s ease-in-out;
}

.calendar {
	font-size: 1.5em;
	margin: 10px;
	padding: 2px 10px;
	background: grey;
	color: #fff;
}
