.row {
  display: flex;
	height: 100%;
}

.store {
	position: relative;
	z-index: 9001;
  background-color: grey;
	display: flex;
	flex: 2;
	flex-wrap: wrap;
}

.rampsArea {
	border-left: 3px dashed orange;
	height: 100%;
	display: flex;
	flex:1;
	flex-direction: column;
	justify-content: center;
}

.zonesArea { flex:2; }

.zonesRow {
	display: flex;
	flex-wrap: wrap;
	flex: 2 1;
	background: #713535;
	padding-bottom: 20px;
}

.block {
	height: 100%;
	width: 100%;
	background: red;
	opacity: 0.2;
	display: flex;
	z-index: 10001;
	position: absolute;
}
