.timer, .timerZero {
  font-size: 4.4em;
	/* position: absolute; */
  top: -5px;	
	left: 10px;
	color: #eee;
	padding: 0px 10px;
}

.timer { background: red; }
.timerZero { 
	display: none;
	background: grey; }


.timerOuter {
	position: relative;
	width: 95px;
	margin: 10px 0;
}
