.timer {
  font-size: 2em;
	position: absolute;
  top: -5px;	
	left: 10px;
	color: #eee;
	padding: 0px 20px;
	background: darkred;
	border-radius: 50px;
}

.timerOuter {
	position: relative;
	width: 80px;
	margin: 10px 0 10px 10px;
}
