.truck_m, .truck_s, .truck_xl {
	transition: all 1.5s ease-in-out;

	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 0px;
	justify-content: space-evenly;
	align-content:flex-start;

	position: absolute;
	top: 0px;
	margin:0;
	color: #fff;
	padding-bottom: 15px;

	height:85px;
}

.truck_s {
	width: 155px;
	left: -165px;
	padding-left: 80px;
	background-image: url(i/truck_s.png);
	overflow:hidden;
}

.truck_m {
	width:230px;
	left: -250px;
	padding-left: 90px;
	background-image: url(i/truck_m.png);
}

.truck_xl {
	width: 346px;
	left: -374px;
	/* background: #222; */
	padding-left: 98px;
	background-image: url(i/truck_xl.png);
}

.tcover_s, .tcover_m, .tcover_xl, .tcover_bonus {
	position:absolute;
	z-index:10002;
	height:83px;
}

.tcover_bonus {
	width: 150px;
	background: #424ca8;
	border-bottom: 24px solid #2e287d;
	margin-bottom: 25px;
}

.tcover_s {
	width: 150px;
	background-image: url(i/namiot_s.png);
}

.tcover_m {
	width:230px;
	background-image: url(i/namiot_m.png);
}

.tcover_xl {
	width:344px;
	background-image: url(i/namiot_xl.png);
}

