.tType_s { 
	/* background:#444; */
	background-position-y:209px;
  width:64px;
	padding: 2px 4px;
}

.tType_m { 
  /* background:#333; */ 
	background-position-y:134px;
  width:80px;
	padding: 2px 4px;
}

.tType_xl { 
  /* background:#222; */ 
	background-position-y:64px;
  width:115px;
	padding: 2px 4px;
}

.tType_bonus { 
  /* background:#533939; */ 
	background-position-y:281px;
	width:31px; 
	padding: 7px 0 0 41px;
}


.tType_xl, .tType_m, .tType_s, .tType_bonus {
  font-size: 1.5em;
	filter: brightness(0.9) saturate(0.9);
	/* margin: 10px 0px 10px 10px; */
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	opacity: 0;
	display: table;
	height: 48px;
	transition: margin-left 1s ease-in-out, opacity 0.6s ease-in-out;
	touch-action: none;
	background-image: url(i/topb.png);

}

.tType_xl:hover, .tType_m:hover, .tType_s:hover, .tType_bonus:hover {
	filter: brightness(1.4) saturate(1.4);
	cursor: pointer;
}


@media only screen and (min-width: 100px) and (max-width: 900px) {

	.tType_s { 
		background-position-y: -204px;
		width:50px;
	}

	.tType_m { 
		background-position-y: -246px;
		width:60px;
	}

	.tType_xl { 
		background-position-y: -287px;
		width:80px;
	}

	.tType_bonus { 
		background-position-y: -161px;
		width:50px;
	}

	.tType_xl, .tType_m, .tType_s, .tType_bonus {
		padding:0px;
		margin:0px;
	}


}
