.zone {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-content:flex-start;
	margin: 20px 0px 0px 20px;
	/* background: grey; */
	width: 100px;
	height: 110px;
	filter: brightness(0.9) saturate(0.9);
	/* border: 3px dashed #ddd; */
}

@media only screen and (min-width: 100px) and (max-width: 900px) {
.zone {
	margin: 10px 0px 0px 10px;
	width: 77px;
	height: 77px;
}
}
