body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background: #333333;
}

#root {
	max-width: 1300px;
	margin: 20px auto;
	overflow: hidden;
}

@media only screen and (min-width: 100px) and (max-width: 900px) {
#root {
	margin: 0px auto;
}
}
