.truck {
	transition: all 1.5s ease-in-out;
	display:block;
	width:200px;
	height:80px;
	background: black;
	position: absolute;
	top: 10px;
	left: -200px;
	margin:0;
	color: #fff;
}


/* could delete it */
.approaching { margin-left: 390px !important; }
.leaving { margin-left: 0px !important; }

